/* ------------------------ */
/* پایه و بدنه */
body {
  padding-top: 70px;
  background-color: #f8f9fa;
  font-family: "Vazirmatn", sans-serif;
}

/* ------------------------ */

.navbar {
  background-color: #40E0D0 !important;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 10px 20px;
}


.navbar .nav-link {
    color: whitesmoke; 
    font-weight: 500;
    font-size: 20px;
}


.navbar .nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
    font-weight: 200; 
}


/* ------------------------ */

.card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  transition: transform 0.3s ease;
}

.card:hover .card-img-top {
  transform: scale(1.05);
}

/* ------------------------ */
/* دکمه‌های اصلی */
.btn-primary {
  background: linear-gradient(45deg, #40e0d0, #00ced1);
  border: none;
  border-radius: 10px;
  transition: background 0.3s ease, transform 0.2s;
}

.btn-primary:hover {
  background: linear-gradient(45deg, #00ced1, #20b2aa);
  transform: scale(1.05);
}

/* ------------------------ */
/* فوتر */
footer {
  border-top: 4px solid #20b2aa;
}

/* ------------------------ */
/* فرم‌ها و فیلترها */
.form-select,
.form-range {
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.form-select:focus,
.form-range:focus {
  border-color: #40e0d0;
  box-shadow: 0 0 5px rgba(64, 224, 208, 0.5);
}

/* ------------------------ */
/* جستجو */
#searchInput {
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  transition: 0.3s ease;
}

#searchInput:focus {
  border-color: #40e0d0;
  box-shadow: 0 0 8px rgba(64, 224, 208, 0.5);
}

/* ------------------------ */
/* اسلایدشو و بنرها */
.carousel-inner img,
.img-fluid.h-100 {
  width: 100%;
  height: 460px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease;
}

.carousel-inner img:hover,
.img-fluid.h-100:hover {
  transform: scale(1.01);
}
