# پوشه‌های IDE
.vscode/
.idea/
*.iml

# فایل‌های موقت سیستم
*.log
*.tmp
.DS_Store

# پوشه‌های Build Java
bin/
build/
out/

# فایل‌های موقتی جاوا
*.class

# پوشه‌های Gradle / Maven (اگر استفاده شود)
.gradle/
target/
*.jar
*.war

# فایل‌های محیطی
.env

# Node / Front-end
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# تصاویر یا فایل‌های بزرگ موقت (اختیاری)
*.psd
*.ai
