body {
  background-color: #f9f9f9;
  font-family: 'tahoma', sans-serif;
  direction: rtl;
  margin: 0;
  padding: 0;
}

/* ناوبار */
.navbar {
  background-color: #40E0D0 !important;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 10px 20px;
  position: fixed;
  top: 70px;  /* فاصله از بالای صفحه */
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between; /* برای قرار دادن logout در یک سمت */
  align-items: center;
}




/* فاصله محتوا از پایین ناوبار */
.dashboard-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  padding-top: calc(70px + 70px); 
}

/* هدر داشبورد */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

/* دکمه خروج روی ناوبار */
.btn-logout {
  background: #d9534f;
  color: white;
  padding: 8px 15px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
}

.btn-logout:hover {
  background: #c9302c;
  color: #fff;
}

/* کارت‌ها */
.card {
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease-in-out;
  margin-bottom: 20px;
}

.card:hover {
  transform: scale(1.05);
}
